/* This stylesheet is approx only and will be changed acording to the other pages style */
/* THe purpose of this stylesheet is to see the Login form along with the Logo (othersie the logo is huge) */

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Login-page-header {
  width: 8em;
  margin-top: 2em;
  margin-left: 3em;
  align-self: flex-start;
}

main {
  display: flex;
  justify-content: center;
  width: 76.87%;
}