/*  importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&family=Inter:wght@400;700&display=swap');

/*  variables */

:root {
    --primary-color: #163888;
    --background-color: #F5F5F7;
    --link-color: #6E87C1
}

/* 
.LoginForm {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 29% 70%;
    gap: 1%;
    background-color: var(--background-color);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0.95em;
    margin-top: 13%;
    width: 100%;
    max-width: 1107px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 4em 0px 4em;
}

.LoginForm h1 {
    justify-self: end;
    align-self: start;
    margin-top: 0;
    font-size: 3.3em;
    font-family: 'Baloo Bhai 2', sans-serif;
    color: var(--primary-color);
} */

/* .LoginContent {
    justify-self: start;
    padding-top: 2em;
    width: 80%;
}

.FormContent {
    display: grid;
    align-content: center;
    grid-gap: 2em;
} */

/* .FormContent label {
    color: 163888;
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
} */

.FormContent label:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

.FormContent label:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

/* .FormContent input {
    width: 13em;
    border: none;
    width: 100%;
    background-color: #FFFFFF;
    height: 2.5em;
    border-radius: 3px;
} */

.FormContent input:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1;
}

.FormContent input:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2;
}

.FormContent button {
    grid-column: 2/3;
    grid-row: 3;
    width: 100%;
}

/* .Links {
    color: var(--link-color);
    text-align: center;
    font-size: 1.2em;
    grid-column: 2/3;
    grid-row: 4;
} */

/* .Links a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 700;
} */

@media screen and (max-width: 1000px){
    .LoginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .LoginContent {
        padding-top: 0;
        margin-right: 10%;
    } 
    .LoginForm h1 {
        align-self: center;
    }
}

@media screen and (max-width: 650px){
    
    
}